body{
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.input-group{
    width: 200px;
}

.error{
    color: red;
}
