<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{/js/scripts.js}" ></script>
    <link th:href="@{/css/bg.css}" rel="stylesheet">


</head>
<body>

<div class="text-center"><h3 class="p-3 mb-2 bg-success text-white">User Register</h3></div>
<div align="center">
    <form action="/User/addUser" method="post">
        <table>
            <tr><td>First Name:</td>   <td><input type="text" name="first_name" placeholder="First Name"></td></tr>
            <tr><td>Last Name:</td>    <td><input type="text" name="last_name" placeholder="Last Name"></td></tr>
            <tr><td>Gender:</td>    <td><input type="text" name="gender" placeholder="Gender"></td></tr>
            <tr><td>Date Of Birth:</td> <td><input type="text" name="year" placeholder="YY" size="2">/<input type="text" name="month" placeholder="MM" size="1">/<input type="text" name="day" placeholder="DD" size="1"></td></tr>
            <tr><td>Email:</td>        <td><input type="text" name="email" placeholder="Email"></td></tr>
        </table>
            <button type="submit" class="btn btn-success m-2" >Add</button>
            <button type="button" onclick="goBack()" class="btn btn-secondary m-2" >Back</button>
    </form>
</div>
</body>
</html>