<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>remove</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/bg.css}" rel="stylesheet">


</head>
<body>

<div class="text-center"><h3 class="text-danger"><div class="p-3 mb-2 bg-danger text-white">Remove a user</div></h3></div>

<div align="center">
    <!-- remove user by id-->
    <form action="/User/removeUser" method="post">
        <input type="text" name="userId" placeholder="ID" class="form-control">
        <br>
        <button type="submit" class="btn btn-danger m-2">Remove</button>
        <a href="/"><button type="button" class="btn btn-secondary m-2" >Back</button></a>
    </form>

</div>
</body>
</html>