<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Info</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/tableStyle.css}" rel="stylesheet" />
    <script th:src="@{/js/scripts.js}" ></script>
    <link th:href="@{/css/bg.css}" rel="stylesheet">


</head>
<body>


<div class="text-center"><h3 class="text-info"><div class="p-3 mb-2 bg-info text-white">All users</div></h3></div>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Date Of Birth</th>
        <th scope="col">Email</th>
    </tr>
    </thead>
    <tr th:each="user:${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.first_name}"></td>
        <td th:text="${user.last_name}"></td>
        <td th:text="${user.gender}"></td>
        <td th:text="${user.date_of_birth}"></td>
        <td th:text="${user.email}"></td>
    </tr>
</table>

<div align="center">
    <a href="/"><button type="button" class="btn btn-secondary m-2" >Back</button></a>
</div>


</body>
</html>